.container {
  background: var(--shape);
  width: 70rem;
  margin: 2rem auto 2rem auto;
  padding-top: 1.25rem;
  display: grid;
  align-items: center;
  justify-content: center;
  border-radius: 0.4rem;

  .top {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 2rem 0;

    .contact_icon {
      height: 1.5rem;
      width: 1.5rem;
      margin-right: 0.25rem;
    }
  }

  .search_container {
    width: 50rem;
    padding-bottom: 2rem;
    display: flex;
    align-items: center;
    justify-content: start;

    .box_container {
      width: 10rem;
      .text_search {
        width: 10rem;
      }
    }
  }

  .content {
    display: grid;
    align-items: center;
    justify-content: center;
    width: 51rem;

    .table_content {
      width: 51rem;
    }
  }
}
